body {
    font-family: Arial, sans-serif;
    line-height: auto;
    margin: 0;
    padding: 10px;
 
  }
  table{
    width:100%;
    border-collapse: collapse;
  }
  td{
    border: 2px solid black;
    text-align: center;
    padding: 2px;
    
  }
  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 0%;
  
  }
 
  
  
  footer {
    background:green;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  